:root{
    --primary_color: #E59C53;
    --secondary_color: #98C07A;
    --accent1: #DEC97C;
    --accent2: #D8EAAF;
    --blue: rgb(12, 12, 135) 
}

h1, h2{
font-family: DM serif Text;
color: var(--blue);
}
p  {
    font-family: roboto;
    color: var(--secondary_color);
}
footer a{
    text-decoration: none;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto
}
h1{
    position: absolute;
}
article{
    position: absolute;
    background-color: var(--accent1);
    opacity: 0.5;
}
article img{
    float: right;
}
header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 1fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}
header img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}
nav ul  {
	display: flex;
	flex-wrap: wrap;
    flex-direction: row;
	list-style: none;
	padding: 0;
	font-family: Arial, sans-serif;
}

nav li {
	flex: 1 1 auto;
}

nav a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
	font-size: 1.2rem;
}
.history{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: auto;
    padding: auto;
}

.adventures{
    padding: 50px;;
}
.adventures{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 300px;
}
.adventures h2{
    margin-bottom: 10px;;
}
figure img{
    width: 200px;
}
footer img{
    width: 40px;
}
footer {
    display: flex;
    align-items: center;
    margin-left: 600px;
    
}
footer nav {
	display: flex;
	flex-wrap: wrap;
    flex-direction: row;
	list-style: none;
	padding: 0;
	font-family: Arial, sans-serif;;
}