main {
max-width: 900px;
}
aside {
width: 25rem;
margin: 1rem ;
border: 1px solid black;
padding: 1rem;
background-color: blue;
color:aqua;
text-align: center;
}

aside img {
    width: 200px;
    height: auto
}
main img{
    width: 200px;
    height: auto;
}
p {
    padding: 0;
}
footer{
   margin-top: 20px;
   border-top: 1px solid black; 
   text-align: center;
}